body,
ul {
  background-color: #cbd9d0;
  color: white;
}

.navbar {
    height: 110px;
    width: 100%;
    background-color: #ed7182
}

.navbar a{
    font-size: 20px;
}

.navbar img{
    width: 100px;
    height: 100px;
}

.navbar ul{
    background-color:#ed7182;
}

section[id] {
  scroll-margin-top: 150px;
}

.cursos img {
  height: 190px;
}

.sectionColor {
    background-color: #5b9dac;
}

    .sectionColor ul {
        background-color: #5b9dac;
    }