body,
ul {
  margin: 0px;
  background-color: #000000;
  color: white;
}

section[id] {
  scroll-margin-top: 150px;
}

.cursos img {
  height: 190px;
}

.sectionColor {
  background-color: #152733;
}

.sectionColor ul {
  background-color: #152733;
}